/* ================= LOGIN ================= */

.login-box {
  margin-top: 40px;
  text-align: center;
}

.login-box input {
  margin-bottom: 10px;
}

.login-botoes {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.btn-login {
  background: #b89654;
  color: #1b1411;
  border: none;
  padding: 10px 16px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.2s;
}

.btn-login:hover {
  background: #c8a662;
  transform: scale(1.04);
}

.btn-login-secundario {
  background: #76604a;
  color: #f8f1df;
}

.btn-sair-conta {
  background: #7f1d1d;
  color: #f8f1df;
  border: none;
  padding: 8px 12px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.2s;
}

.btn-sair-conta:hover {
  background: #991b1b;
  transform: scale(1.05);
}

.login-botoes {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  gap: 10px;
  flex-wrap: nowrap !important;
  margin-top: 10px;
}

.btn-login {
  min-width: 110px;
  height: 38px;
  display: inline-flex !important;
  align-items: center;
  justify-content: center;
}

.btn-login-recuperar {
  min-width: 150px;
  height: 38px;
  background: transparent;
  color: #f8f1df;
  border: 1px solid #b89654;
  display: inline-flex !important;
  align-items: center;
  justify-content: center;
}

.btn-login-recuperar {
  min-width: 150px;
  height: 38px;
  background: transparent;
  color: #ef4444; /* vermelho */
  border: 1px solid #ef4444;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
}

.btn-login-recuperar:hover {
  background: #ef4444;
  color: #fff;
  transform: scale(1.05);
}

.login-erro {
  min-height: 18px;
  margin: 6px 0 10px;
  color: #ef4444;
  font-size: 13px;
  text-align: center;
  font-weight: bold;
}

